html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

header {
	background: rgb(52, 206, 142);
	height: 100px;
}

h1 {
	text-align: center;
	color: white;
	line-height: 100px;
	margin: 0;
}

article {
	padding: 10px;
	margin: 10px;
	background: rgba(16, 233, 215, 0.178);
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		'a1 a2 a3 a3'
		'a1 a4 a3 a3'
		'a1 a5 a6 a7'
		'a8 a9 a9 a10';
}

article:nth-child(1) {
	grid-area: a1;
}

article:nth-child(2) {
	grid-area: a2;
}
article:nth-child(3) {
	grid-area: a3;
}
article:nth-child(4) {
	grid-area: a4;
}
article:nth-child(5) {
	grid-area: a5;
}
article:nth-child(6) {
	grid-area: a6;
}
article:nth-child(7) {
	grid-area: a7;
}
article:nth-child(8) {
	grid-area: a8;
}
article:nth-child(9) {
	grid-area: a9;
}
article:nth-child(10) {
	grid-area: a10;
}

label {
	padding: 10px 15px;
	border: 2px solid #007bff;
	border-radius: 5px;
	background-color: white;
	color: #007bff;
	cursor: pointer;
	transition: all 0.3s;
}
input[type='radio'] {
	display: none; /* Скрываем стандартную реализацию*/
}
input[type='radio']:checked + label {
	background-color: #007bff; /* Цвет фона для выбранной радиокнопки */
	color: white; /* Цвет текста для выбранной радиокнопки */
}

footer {
	margin-top: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
footer p {
	font-weight: bold;
	font-size: 24pt;
}

.container {
	margin: 20px;
	border: 2px solid #007bff;
	border-radius: 10px;
	padding: 20px;
	background-color: white;
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(3, 50px);
	grid-template-rows: repeat(3, 50px);
}
.element {
	display: grid;
	place-items: center;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	text-align: center;
}
#сontainer1 .element:nth-child(1) {
	grid-area: A;
}
#сontainer1 .element:nth-child(2) {
	grid-area: B;
}
#сontainer1 .element:nth-child(3) {
	grid-area: C;
}

#сontainer1 {
	grid-template-areas: 'A A A' 'B C C' 'B C C';
}

#сontainer3 .element:nth-child(5) {
	padding: 10px;
	justify-self: start;
}
