html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

header {
	background: rgb(52, 206, 142);
	height: 100px;
}

h1 {
	text-align: center;
	color: white;
	line-height: 100px;
	margin: 0;
}

button {
	width: 150px;
	height: 75px;
	margin: 50px;
	font-size: 20px;
	background-color: red;
	animation: vibration 0.3s infinite;
}

a {
	font-size: 20px;
	color: black;
	text-decoration: none;
	position: relative;
}

a::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: green;
	transition: width 0.3s ease, left 0.3s ease;
}

a:hover {
	color: green;
}

a:hover::after {
	width: 100%;
	left: 0;
}

@keyframes vibration {
	0% {
		transform: translate(0, 0);
	}
	16% {
		transform: translate(-40px, -40px);
	}
	33% {
		transform: translate(-40px, 40px);
	}
	50% {
		transform: translate(40px, 40px);
	}
	66% {
		transform: translate(40px, -40px);
	}
	83% {
		transform: translate(-40px, -40px);
	}
	100% {
		transform: translate(0, 0);
	}
}

button:hover {
	animation: none;
	background-color: green;
}

@keyframes vibration {
	0% {
		transform: translate(0, 0);
	}
	16% {
		transform: translate(-40px, -40px);
	}
	33% {
		transform: translate(-40px, 40px);
	}
	50% {
		transform: translate(40px, 40px);
	}
	66% {
		transform: translate(40px, -40px);
	}
	83% {
		transform: translate(-40px, -40px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes firstJump {
	0% {
		transform: translateY(0px) scaleY(1);
	}

	57% {
		transform: translateY(500px) scaleY(1);
	}
	60% {
		transform: translateY(500px) scaleY(0.5);
	}
	63% {
		transform: translateY(500px) scaleY(1);
	}

	100% {
		transform: translateY(150px) scaleY(1);
	}
}

@keyframes secondJump {
	0% {
		transform: translateY(150px) scaleY(1);
	}

	58% {
		transform: translateY(500px) scaleY(1);
	}
	60% {
		transform: translateY(500px) scaleY(0.7);
	}
	62% {
		transform: translateY(500px) scaleY(1);
	}
	100% {
		transform: translateY(300px) scaleY(1);
	}
}

@keyframes thirdJump {
	0% {
		transform: translateY(300px) scaleY(1);
	}
	60% {
		transform: translateY(500px) scaleY(1);
	}
	80% {
		transform: translateY(500px) scaleY(0.9);
	}
	100% {
		transform: translateY(500px) scaleY(1);
	}
}

.circle {
	margin-top: 50px;
	margin-left: 100px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: blueviolet;
	display: inline-block;
}

.circle {
	animation: firstJump 2s ease-in-out 2s, secondJump 1.5s ease-in-out 4s,
		thirdJump 1s ease-in-out 5.5s;
	animation-fill-mode: forwards;
}
hr {
	margin-top: 220px;
	border: 0;
	height: 5px;
	background-color: #000000;
}

.nueton {
	display: flex;
	align-items: center;
	position: relative;
	width: 300px;
	height: 200px;
	margin-left: 1000px;
}

.ball {
	width: 50px;
	height: 50px;
	background-color: #103678;
	border-radius: 50%;
	position: absolute;
	top: 0;
}

ball::before,
.ball::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 60px;
	background-color: #f00;
	top: -60px;
	left: 25px;
}

#ball1 {
	left: 0;
	transform-origin: center -60px;
	animation: swing-left 2s ease-in-out infinite;
}

#ball2 {
	left: 50px;
}

#ball3 {
	left: 100px;
}

#ball4 {
	left: 150px;
}

#ball5 {
	left: 200px;
	transform-origin: center -60px;
	animation: swing-right 2s infinite ease-in-out 2s;
}

@keyframes swing-right {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes swing-left {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
